* {
  margin: 0;
  padding: 0;
}

/* profile */
.user-details {
  background-color: #3f51b5;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-details h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-details p {
  font-size: 16px;
  color: #ffffff;
  margin: 8px;
}


/* suggestion */
.list-group {
  position: absolute;
  width: calc(100% - 0px);
  /* Adjusted width */
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  border: 1px solid #ced4da;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  top: calc(100% + 5px);
  left: 0;
}

.suggestion-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.suggestion-item img {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.suggestion-item h5 {
  margin-bottom: 0;
  font-size: 0.9em;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item.active {
  background-color: #007bff;
  color: #fff;
}

.form-control {
  width: calc(100% - 30px);
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  box-shadow: "5px 5px 10px black";
}

.nav-left {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.nav-link {
  font-weight: 200 !important;
  margin-left: 20px;
  color: rgb(0, 0, 0) !important;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0%;
  border-bottom: 2px solid #3f51b5;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-brand {
  position: relative;
  border: 1px solid #3f51b5;
  padding: 0;
}

.navbar-brand::after {
  content: "GLY.";
  color: rgb(255, 255, 255);
  background-color: #3f51b5;
  width: 50%;
  position: absolute;
  right: 0;
  top: 1;

}

/* login */
.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffe7cb;

}

.login-info {
  border: 1px solid rgb(213 203 203);
  border-radius: 20px;
  box-shadow: 5px 5px 10px #d6c2a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 40rem;
  background-color: white;
}

.login-info .btn {
  width: 50%;
  background-color: #3f51b5;
}

.navi {
  border: none;
  background: no-repeat;
  margin-bottom: 1rem;
  color: blue;
}

.form-control {
  width: 20rem;
}

/* home page */
.secton1 {
  height: 100vh;
  background-color: #ffe7cb;
  display: flex;
  font-size: 100%;
}

.first,
.second {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  padding: 3rem;
  flex-direction: column;
  align-items: start;
}

.big {
  font-size: 170%;
  margin-bottom: 2rem;
}

.small {
  font-size: 100%;
}

.first .btn {
  width: 40%;
  background-color: #3f51b5;
  border-radius: 0;
  margin-top: 1.5rem;
  color: white;
}

.second img {
  width: 100%;
}



/* blog page */
.blog-page {
  background-color: #ffe7cb;
  padding: 1.5rem 1rem;
  min-height: 100vh;
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-blog {

  width: 57%;

}

.blog {
  width: 57%;
}


/* footer */

.ft {
  padding-top: 17px;
  text-align: center;
  background-color: #3f51b5;
  color: white;
  font-size: 12px;
}


/* waves */
.custom-shape-divider-top-1697123847 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1697123847 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1697123847 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1697123847 svg {
    width: calc(125% + 1.3px);
    height: 110px;
  }
}

@media (max-width: 1000px) {
  .secton1 {
    font-size: 80%;
  }

  .blog {
    width: 60%;
  }
}

@media (max-width: 840px) {
  .secton1 {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 26rem;
    height: 110vh;
  }

  .first {
    padding: 1rem;
    margin: 2rem 0rem;
  }

  .blog {
    width: 80%;
  }

  .login-info {
    width: 35rem;
  }
}

@media (max-width: 640px) {
  .secton1 {
    font-size: 60%;
  }

  .btn {
    font-size: 90%;
  }

  .second {
    width: 80%;
  }

  .login-info {
    width: 25rem;
  }
}

@media (max-width: 500px) {
  .secton1 {
    padding-top: 1rem;
    height: 90vh;
  }

  .first {
    margin: 0;
    justify-content: start;
  }

  .big {
    font-size: 130%;
    margin-bottom: 1rem;
  }

  .form-control {
    width: 11rem;
  }

  .login-info {
    width: 100%;
  }

  .ft {
    font-size: 50%;
  }

  .first .btn {
    width: 50%;
  }
}